<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>First</servlet-name>
		<servlet-class>StudentDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/studentdemo</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>StudentDetails.jsp</welcome-file>
	</welcome-file-list>
</web-app>