<web-app>
<servlet>
<servlet-name>s1</servlet-name>
<jsp-file>/add.jsp</jsp-file>
<init-param>
<param-name>p1</param-name>
<param-value>10</param-value>
</init-param>

<init-param>
<param-name>p2</param-name>
<param-value>20</param-value>
</init-param>

</servlet>
<servlet-mapping>
<servlet-name>s1</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>
</web-app>